<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>● Practcode - Forget password ?</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/lo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/forgetpassword.css' %}" />
    <script
      src="https://kit.fontawesome.com/215c5cf425.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body style="background:  transparent url({% static 'img/BG/bg2.jpg' %}) center ;">
    <div class="signupContainer" id="text">
      <div class="signuptopLogo">
        <img src="{% static 'img/black&blue.png' %}" alt="" />
        <h3></h3>
      </div>
      <div id="loginmsg"></div>
      <div class="signup_mainbox">
        <div class="signup_heading">
          <h2>Forgot Password?</h2>
          <p>Recover your account password</p>
        </div>
        <br />
        <div id="accountRecoveryInfoId" class="accountRecoveryInfo">
          <i
            id="accountRecoveryInfo_tickId"
            class="fa-solid fa-circle-check"
          ></i>
          <!-- <p>Please enter the One-Time Password (OTP) that has been sent to your registered Email shek******@gmail.com</p> -->
          <p id="recoveryMessageid">
            Enter your email address verified and registered with Practcode to
            recover your account
          </p>
        </div>

        <form name="RecoverAccount" method="POST" id="post-recoverAcoount_form">
          {% csrf_token %}
          <div id="RecoveryOTPInputs">
            <p id="RecoveryformerrorP">Enter OTP :</p>
            <div class="inputBoxandIcon">
              <i class="fa-solid fa-key"></i>
              <input
                maxlength="6"
                type="text"
                id="recoveryOptid"
                name="recoveryOpt"
                placeholder="X X X X X X"
                required
              />
            </div>
          </div>

          <div id="RecoveryEmailInputs">
            <p id="RecoveryformerrorP">Email :</p>
            <div class="inputBoxandIcon">
              <i class="fa-solid fa-envelope"></i>
              <input
                type="email"
                id="recoveryemailid"
                name="recoveryemail"
                placeholder="your@gmail.com"
                required
              />
            </div>
          </div>

          <!-- resetPassword -->
          <div id="newPasswordId">
            <p id="RecoveryformerrorP">New Password :</p>
            <div class="inputBoxandIcon">
              <i class="fa-solid fa-envelope"></i>
              <input
                type="password"
                id="passwordId"
                name="recoverypassword"
                placeholder="* * * * * * * * * * * "
                required
              />
            </div>
          </div>

          <div id="newPasswordConsfirmationId">
            <p id="RecoveryformerrorP">Consfirm Password :</p>
            <div class="inputBoxandIcon">
              <i class="fa-solid fa-envelope"></i>
              <input
                type="password"
                id="ConfirmpasswordId"
                name="recoveryConfirmpassword"
                placeholder="Confirm your password "
                required
              />
            </div>
          </div>

          <div class="formBtns">
            <button
              type="submit"
              id="varificationBTNId"
              class="signupBtn"
              onclick="Accountrecovery(event)"
            >
              <div id="verificationLoaderId" class="loader"></div>
              Verify
            </button>
          </div>
          <div class="LoginDirect">
            <p>Remember your password?<a href="/login"> Login</a></p>
          </div>
        </form>
      </div>
    </div>
    <style>
      @keyframes rotate {
        0% {
          transform: rotate(5deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }

      .loader {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 2px solid #ffff;
        border-radius: 50%;
        border-top-color: transparent;
        animation: rotate 1s infinite linear;
      }
      #verificationLoaderId {
        display: none;
      }
    </style>

    <script src="{% static 'script/forgetpassword.js' %}"></script>
  </body>
</html>
