{% extends "index.html" %} {% block title %} - Home{% endblock %}
{% block headcontain %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/quiz_styles/quizes_style.css' %}" />

{% endblock %}
{% block Mainroot %}

<div class="quiz_container">

  <div class="left_container">
    <br>
    <h5 class="page_tag_heading">Home / Practcode Test</h5>
    <br>
    <div id="question_area_id" class="question_area" >
      <div class="question">
        <h3 id="quiz_question_ID"></h3>
      </div>
      <pre id="preCodeID">
        <code id="quiz_question_code_ID">
          
        </code>
      </pre>
      <form id="quiz_id_1">
        <ul id="quiz_options">
          <!--options  -->
        </ul>
        <div class="qiuz_btnSections">
          <button id="next_submit_btnID" type="button" onclick="submitQuiz()">Next</button>
        </div>
      </form>
    </div>
    <!-- result -->
    <div id="result_area_id" class="container" style="display: none;">
      <div class="circular-progress">
        <div class="value-container">0%</div>
      </div>
      <div class="resut_text">
        <h2>Practcode score Analysis</h2>
        <div id="result_text" class="quiz_result" ></div>
        <div class="resultbtnsection">
          <button >Continue To Course</button>
        </div>
      </div>
    </div>
  </div>
  <div class="right_container">
    <h5>Pending</h5>
    <ul id="right_container_UIID">
      <!-- pending questions -->
    </ul>
  </div>
</div>



<script src="{% static 'script/quiz_script/quizes_script.js' %}"></script>
{% endblock %} {% block scriptcontain %}


{% endblock %}