body{
    background: #000;
}
body button{
    cursor: pointer;
}
nav{
    padding: 20px 0px 0px;
    width: 95%;
    margin: auto;
    color: aliceblue;
    border-bottom:solid 1px rgb(70, 70, 70);
   
}
nav .logo-admin{
    display: flex;
    font-size: 18px;
    padding: 14px;
   
}
.status-bar{
    width :85%;
    margin: auto;
    padding: 5px;
    color: white;

}

.logo-admin i{
    padding-right:5px;
    font-size: 30px;
    color:#2196f3;
 
    
}
nav .admin-nav-options button{
    background: rgb(26, 26, 26);
    color: white;
    border: none;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 5px;
    margin: 5px 5px 1px;
    cursor: pointer;
    letter-spacing: 2px;

}
.container{
    margin:auto;
    width: 85%;
    border: 1px solid white;
    border-radius: 5px;
}
.container .courseLists{
    color: white;
}
.courseLists .courseLists-labels{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid orange;
}
.courseLists .courseLists-labels p{
    padding: 0px 8px 0px;
    height: 25px;
    border-bottom: 3px solid #2196f3;
}
.courseLists .listView{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.listView p{
    padding: 0px 8px 0px;
}

.input-sections{
    display: flex;
}

.input-sections form{
    width: 60%;
    padding: 14px;
   
}
.input-sections form .input-div{
    width: 90%;
    padding: 15px;
    border-bottom: 1px solid #2196f3;
    background: #13212d;
}
.input-div input{
    width: 95%;
    outline: none;
    border: none;
    margin: auto;
    padding: 5px;
    background: transparent;
    color: white;

}
.input-div label{
    color: rgb(144, 144, 144);
    font-size: 18px;
    padding: 14px 0px 0px;
}
.input-div textarea{
    background: #24394b;
    border: none;
    outline: none;
    font-size: 14px;
    color: white;
    resize:vertical;
}

.input-div input::placeholder{
    color: white;
    font-size: 16px;
}
.input-sections .addimge{
    display: flex;
    color: white;
    width: 30%;
    background: #1262a3;
    margin: auto;
    height: 50vh;
    border-radius: 11px;
   
    align-items: center;
    justify-content: center;
}
.addimge .add_image_btn{
    height: 50px;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 14px;
    background: #1170bd;
    border-left: 2px solid white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}
.AddSections_btn{
    margin:15px;
    border: none;
    border-radius: 2px;
    padding: 14px;
    color: white;
    background: rgb(0, 211, 0);
    border-left: 2px solid white;
}
.AddSections_btn i{
    padding-right: 5px;
}

.addsections_dev{
  width: 90%;
  background: #2196f3;
  margin: auto;
}
.addsections_dev .section-title{
    width: 90%;
    padding: 15px;
    border-bottom: 1px solid #2196f3;
    background: #13212d;
    border-left: 3px dotted gold;
}
.section-title input{
    width: 95%;
    outline: none;
    border: none;
    margin: auto;
    padding: 5px;
    background: transparent;
    color: white;
    padding: 8px;
}
.section-title textarea{
    background: #b2c0cb;
    border: none;
    outline: none;
    font-size: 14px;
    color: rgb(0, 0, 0);
    width: 95%;
    resize:vertical;
    padding: 8px;
}
.section-title textarea::placeholder{
    color: #000;
    letter-spacing: 2px;
    padding: 20px;
}
.Coursesectiondetails_h2{
    margin-left: 10px;
    color:white;
    letter-spacing: 1px;
    border-bottom: 2px dotted gold;
    width: fit-content;
}
.addcourse_div_btngroup .upload_btn{
    margin:15px;
    border: none;
    border-radius: 2px;
    padding: 14px;
    color: white;
    background: rgb(34, 30, 105);
    border-left: 2px solid white;
}
.upload_btn i{
    padding-right: 5px;
}

.section_heading_h3{
    padding-left: 15px;
    color: white;
    letter-spacing: 2px;
}