*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    padding-top: 30px;
    background: #f7feff;
}
.signupContainer{
    width: 100%;
    text-align: center;
}
.signuptopLogo{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    color: #333333;

}
.signuptopLogo img{
    width: 250px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.signup_mainbox{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    width: 35%;
    margin: auto;
    background: #ffffff;
    border-radius: 2px;
}
.signup_mainbox .signup_heading{
    width: 100%;
    margin: auto;
    text-align: center;
    /* background: #000; */
    border-width: 1px;
    border-bottom-style:solid;
    border-bottom-color: #e7e7e7;
}
.signup_heading h2{
    font-family: 'Roboto Condensed', sans-serif;
    color: #3b3b3b;
    padding-top: 4px;
    font-weight: 400;
    line-height: 30px;
}
.signup_heading p{
    font-size: 10px;
    color: #b3b3b3;
}

.signup_mainbox form{
    text-align: left;
    padding-left: 8px;
}
.signup_mainbox form p{
    font-size: 14px;
    color: #a3a3a3;
    margin-left: 5px;
}
.signup_mainbox form .inputBoxandIcon{
    display: flex;
    justify-content: space-between;
    /* background: #000; */
    border:1px solid #a3a3a3;
    border-radius: 5px;
    width: 95%;
    padding: 1px;
    margin: auto;
}


.inputBoxandIcon i{
    color: #a3a3a3;
    font-size: 17px;
    padding: 10px;

}
.signup_mainbox form .inputBoxandIcon input{
    width: 95%;
    padding: 10px;
    font-size:16px;
    outline: none;
    border: none;
    margin-right:5px ;
}


.signup_mainbox form .formBtns{
    width: 95%;
    margin: auto;
    border-width: 1px;
    border-bottom-style:solid;
    border-bottom-color: #e7e7e7;
    padding: 14px;
}
.frgtPswdDiv{
    margin-top: 14px;
    margin-bottom: 5px;
    text-align: center;
}
.frgtPswdDiv a{
    text-decoration: none;
    color: #7bc8fc;
}
#loginmsg{
    padding: 14px;
    border-radius: 5px;
    width: 30%;
    margin:auto;
    display: none;
}
.signup_mainbox form .formBtns .signupBtn{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #079cff;
    color: #ffffff;    
}
.signup_mainbox form .LoginDirect{
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 5px;
}


/* forgetPassword style */
.accountRecoveryInfo{
    width: 85%;
    margin: auto;
    display: flex;
    padding: 15px;
    
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    border-left: 5px solid;
    border-left-color: #079cff;
}
.accountRecoveryInfo i{
    color: #02af2d; 
    font-size: 20px;
    font-weight: 600;
}
.accountRecoveryInfo p{
    text-align: left;
    padding-left: 10px;
    color: #5c5c5c;
}

#accountRecoveryInfo_tickId.fa-circle-xmark{
    color: red;
}
.accountRecoveryInfo.InvalidRed{
    border-radius: 5px;
    border: 1px solid rgb(255, 155, 155);
    border-left: 5px solid;
    border-left-color: #f00000;
}

#newPasswordId,#newPasswordConsfirmationId{
    display: none;
}

/*  */

/* OTP seetings style*/
#RecoveryOTPInputs{
    display: none;
}



@media only screen and (max-width: 900px){
    body{
        text-align: center;
    }
    .signup_mainbox{
        width: 80%;
    }
    .signuptopLogo img{
        width: 200px;
    }
}

@media only screen and (max-width: 500px){
    .signup_mainbox{
        width: 99%;
    }
    .signuptopLogo img{
        width: 200px;
    }

}
