{% extends "index.html" %} {% block title %} - Home{% endblock %}
{% block headcontain %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/homePage/home.css' %}" />

{% endblock %}
{% block Mainroot %}
<div class="larg-course-progress-card">
  <br>
  <div class="cardupper">
    <div class="course-card-img">
      <img src="{% static 'img/cardimg/fallback.svg' %}" alt="The C is a programming Language, developed by Dennis Ritchie for creating system applications that directly interact with the hardware devices such as drivers, kernels, etc." srcset="">
    </div>
    <div class="carddetails">
      <span>Tutorial</span>
      <h2>Learn C</h2>
      <p>The C is a programming Language, developed by Dennis Ritchie for creating system applications that directly interact with the hardware devices such as drivers, kernels, etc. </p>  
      
      <p><strong>Skill level • </strong> Beginner friendly</p>
      <p><strong>Time required • </strong>21 Days</p>

      <button>Get started !</button>
    </div>
  </div>
  <div class="cardlower">
    <h4>Progress</h4>
    <div class="progress-bar-div">
      <div class="progress">
      
      </div>
    </div>
  </div>
</div>

<!-- <script src="{% static 'script/home-page-js/vectors.js' %}"></script> -->
{% endblock %} {% block scriptcontain %}
<script>
  console.log("hello from home....");
</script>

{% endblock %}