<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practcode {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/PractCodePageLoader.css' %}">
    <link rel="stylesheet" href="{% static 'css/practcode-theams/index-theams.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/215c5cf425.js" crossorigin="anonymous"></script>
    {% block headcontain %}{% endblock %}
</head>

<body ondragstart="return false;" ondrop="return false;" onload="changeToggleForScreenSize()">
    <button id="checkauth"></button>
    <div id="preloader"
        style="background:  #8cc5dd url({% static 'img/preloader.gif' %}) no-repeat center ;background-size: 18%"></div>
    <nav class="PractcodeNav practcode-theamer">
        <button onclick="PractcodetoggleSidenav()" class="PractcodeNavsidebartoggleBtn"><i
                class="fa-solid fa-bars"></i></button>
       <div class="PractcodeNav_heading_logo">  <img alt="Practcode"
                src="{% static 'img/practcode.com.png' %}"></img>
            
        </div>
        <div class="navtaboptions practcode-theamer">
            <button ><a class="home" href="/">Home</a></button>
            <button><a class="course-details" href="/course-details">Courses</a></button>
            <!-- <button><a class="services" href="/services">Services</a></button> -->
            <button><a href="/">Blogs</a></button>
            <!-- <div id="theamchangerbtnDIV" class="theamchangerbtn"><i id="theamchangericonID" class="fa-regular fa-sun" onclick="changemytheam()"></i></div> -->
        </div>
        <div class="PractcodeNav_options">

            
            <div class="PractcodeNav_notify">
                <i class="fa-solid fa-bell"></i>
                <p id="PractcodeNav_notify"></p>
            </div>

            <button class="PractcodeNavProfile_btn" id="dropdown-button">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-caret-down"></i>
            </button>
        </div>
    </nav>
    <div class="PractcodeProfiledropdown" id="dropdown-content">
        <a href="/dashboard"><button><i class="fa-solid fa-user"></i> Profile</button></a>
        <br>
        <a href=""><button><i class="fa-regular fa-pen-to-square"></i>My courses</button></a>
        <br>
        <a href=""><button onclick="logoutnow()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out</button></a>
    </div>
    <div class="PractcodeNavSideBody">
        <div id="PractcodeSideNavid" class="PractcodeSide_nav">
           

           
            <div id="PractcodeSidebar_userOptionsid" class="PractcodeSidebar_userOptions">
                <br>
                <ul class="userOptions_section_sidenav">
                
                    <li class="side-navigation-options"><a href="/profile/chandu"><i class="fa-regular fa-address-card"></i>Dashboard</a></li>
                    <li class="side-navigation-options"><a href=""><i class="fa-solid fa-graduation-cap"></i>Instructor</a></li>
                    <br>                    
                    <li id="side-navigation-options_BrowseCourse_id" class="side-navigation-options"><a href="/course-details"><i class="fa-solid fa-magnifying-glass"></i>Courses</a></li>
                    <li class="side-navigation-options"><a href=""><i class="fa-solid fa-book-open"></i>View Course</a></li>
                    <li class="side-navigation-options"><a href="/take-course"><i class="fa-solid fa-book-bookmark"></i>Take Course</a></li>
                    <li class="side-navigation-options"><a href=""><i class="fa-solid fa-laptop-file"></i>Take a Quiz</a></li>
                    <li class="side-navigation-options"><a href=""><i class="fa-solid fa-square-poll-vertical"></i>Quize Results</a></li>
                    <li class="side-navigation-options"><a href=""><i class="fa-solid fa-graduation-cap"></i>My Courses</a></li>
                    <li class="side-navigation-options"><a href=""><i class="fa-solid fa-comments"></i>community</a></li>
                    <br>
                    <li class="side-navigation-options"><a href=""><i class="fa-solid fa-headset"></i>Get Help</a></li>
                    <li class="side-navigation-options"><a href=""><i class="fa-solid fa-lock"></i>Logout</a></li>
                </ul>
                
            </div>



        </div>


        <!-- other section comes here -->
        <div id="PractcodeMainRootid" class="practcodeMainRoot  practcode-theamer">
            {% block Mainroot %}
            {% endblock %}
        </div>

    </div>
    
    <script>
        var loader = document.getElementById("preloader")
        window.addEventListener('load', function () {
            loader.style.display = "none"
        })

    </script>

</body>
<script src="{% static 'script/index.js' %}"></script>
<!-- <script src="{% static 'script/Authutilities/islogged.js' %}"></script> -->
{% block scriptcontain %}{% endblock %}

</html>