{% extends "index.html" %} {% block title %} - Home{% endblock %}
{% block headcontain %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<link rel="stylesheet" href="{% static 'css/practcode-theams/home-vectors-theams.css' %}">
<link rel="stylesheet" href="{% static 'css/practcode-theams/home-page-cards-theams.css' %}">
{% endblock %}
{% block Mainroot %}


hello
{% endblock %} {% block scriptcontain %}
<script>
  console.log("hello from home....");
</script>

{% endblock %}