{% extends "index.html" %} {% block title %} - Learn C{% endblock %}
{% block headcontain %}
{% load static %}
    
    <link rel="stylesheet" href="{% static 'css/coursecardui/take_course.css' %}" />
{% endblock %}   
{% block Mainroot %}
<button class="course-main-div-toggle" onclick="toggle_takeCourse_bar()"><i class="fa-solid fa-angles-left" id="course-status-bar-toggle-iconID"></i> <h2>Course contents</h2></button><br>
    <div class="take-course-main-div">
        <div class="course-status-bar" id="course-status-barID">
            
            <div class="sidebar-content">
                <button>Course - Learn C</button>
                {% for key, value in data.items %}
                
                <ul id="course_topics_ulID">
                    <h4>{{ key }}</h4>
                    {% for item in value %}
                        <li value="{{ item }}">{{ item }}</li>
                    {% endfor %}
                    <br>
                </ul>
                {% endfor %}
               
            </div>
            <div class="sidebar-option">
                <button class="Practcode-upgrad-btn">
                    <i class="fa-solid fa-arrow-up-right-dots"></i>
                    <div class="upgrad-text">
                        <h3>Upgrade</h3>
                        <p>Get practcode-pro</p>
                    </div>
                </button><br>
                <button class="user-profile-btn">
                    <i class="fa-regular fa-user"></i>
                    <div class="user-profile-text">
                        <h3>Username</h3>
                        <p>practcode -user</p>
                    </div>
                </button>
            </div>
        </div>
        <div class="course-content-area" id="course-content-areaID">
            <div class="topic-title">
                <h1>Introduction to Programming and C </h1>
                <br>
                <h2 class="sub-topic" id="sub-topicID" >What is Programming ?</h2><br>
                
            </div>
            <div class="topic-details">
                <div id="course-text-ID"></div>
            </div>
        </div>
    </div>
    
<script src="{% static 'script/courses/take-course.js' %}"></script>

{% endblock %}

{% block scriptcontain %}
    
    
{% endblock %}