/* .profile-div{ */
    /* width: 100%;
    /* margin: auto; */
  
/* } */
.profile{
    border-bottom: 1px solid rgb(236, 236, 236); 
}
.profile-upper{
    border-bottom: 1px solid #eaeef7;
}
.profile-upper .profile{
    width: 70%;
    margin: auto;
    display: flex;
    padding: 14px;
}
.profile-upper .profile .circle-profile{
    width: 200px;
    height: 200px;
    border-radius:100% ;
    padding: 14px;
    background: #e4e8ff;; 

}
.circle-profile img{
    width: 100%;
}
.profile .user-name{
    display: flex;
    align-items: center;
    text-align: left;
}
.user-name span{
    padding:0px 48px 47px;
}
.user-name span p{
    color: rgb(224, 145, 0);
    font: 5px;
    font-weight: 100;
}
.progress{
    display: flex;
    width: 95%;
    margin: 30px 30px 35px;
    background-image: linear-gradient(to bottom, #e5e3ff, #e8e2ff, #ebe1ff, #efdfff, #f3deff);
    padding:12px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.secondary-box{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    /* background: rgb(199, 199, 255); */ 
    
}
.progress-details{
  width: 95%;
  margin: auto;
  border-bottom: 1px solid rgb(236, 236, 236);
  border-left:2px solid #997cf8;  
}
.progress-details h2{
    padding-left:5px ;
}
.progress-details h4{
    padding: 10px 10px 10px;
}
.progress-bar-outerbox{
    display: flex;
    width: 100%;
   
   
   
}

.progress-bar-outerbox .progress-bar{
    height: 0px;
    padding: 0px;
    width: 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(to right, #847af8, #997cf8, #ab7ff8, #bc82f8, #cc85f7);
    margin-top: 16px;
}
.progress-bar-outerbox.active .progress-bar{
    height: 2px;
    padding: 5px;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(to right, #847af8, #997cf8, #ab7ff8, #bc82f8, #cc85f7);
    margin-top: 16px; 
}
.progress-bar-outerbox.active .user-running img{
    width: 45px;
    height: 45px; 
}
.user-running img{
    width: 0px;
    height: 0px;  
}
.mile-stone img{
    width: 45px;
    height: 45px;
    border-bottom: 2px dashed red;
   
}
.final-destination-box{
    width:10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
   
}
.final-destination-box img{
    width: 50px;
    height: 50px;
}



.user-profile-explore-more{
    display: flex;
    justify-content: center;
    align-items: center;

}
.user-profile-explore-more .explore-more-btn{
    border: none;
    padding: 14px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 11px;
    color: white;
    background: #007bff;
}

/* bottum section*/
.profile-bottum{
    width: 85%;
    margin: auto;

}
.my-course-section{
    padding: 15px;
}
.my-course-section h3{
    padding: 15px;
}
.my-course-card{
    border:1px solid rgb(201, 201, 201);
    width: 250px;
    display: flex;
    align-items: center;
    padding: 14px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0px 14px 0px;
}
.card-course-img{
    width: 30%;
    height: 60px;
    
    text-align: center;
    justify-content: center;
 
}
.card-course-img h2{
    color: #eaeef7;
    padding: 14px;
}
.card-details{
    width: 60%;
    margin: auto;
}
.card-course-img img{
    width: 60px;
}
.card-details button{
    border: 1px solid blue;
    background: white;
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 5px;
}
/* test */
.test-analysis-section{
    width: 95%;
    margin: auto;
    /* padding: 14px; */
}
.test-analysis-section h3{
    padding: 14px 0px 30px;
}
.test-analysis-section-li{
    list-style: none;
    margin-bottom: 20px;

}
.test-analysis-div{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.test-analysis-div p{
    font-weight: 700;
    display: flex;
    text-align: center;
    align-items: center;
}
.test-analysis-div-left{
    display: flex;
    text-align: center;
    align-items:center;
}
.test-analysis-div-left h4{
    padding: 0px 30px 0px;
}
.test-analysis-div img{
    width:60px
}