.homePageVector_1{
    width: 80%;
    margin: auto;
    /* height: 70vh; */
    /* padding-bottom: 60px; */
    background: #000;
    padding:14px;
}
.vector-contains{
    text-align: center;
    width: 95%;
    margin: auto;
    display: flex;
}
.vector-contains .vector_image{
    width: 60%;
   
}
.vector-contains .vector-text{
    width: 60%;
    padding-top:4% ;
    text-align: left;
 
}
.vector-text p{
    padding-top: 15px;
    padding-bottom:15px ;
    letter-spacing: 2px;
    color: #dadada;
}
.vector-text h1{
    color: white;
    letter-spacing: 2px;
    padding: 5px;
    border-top: 2px dashed gold ; 
    border-bottom: 5px dotted rgb(87, 216, 255);
}
.vector_explorebtn{
    background: gold;
    color:black;
    height: 50px;
    width: 200px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    border-bottom: 5px solid white;

}
/* vector 2 */
.homePageVector_2{
    width: 80%;
    margin: auto;
    padding: 14px;
    /* background: #000; */
    /* color: #dadada; */
}
.what_toExpectDiv{
    display: flex;
    justify-content: space-between;
}
.what_toExpectDiv h1{
    border-bottom: 5px dotted rgb(41, 194, 255);
}
.what_toExpectDiv .vector_learnNowBtn{
    background: transparent;
    border: 2px solid rgb(99, 185, 255);
    padding: 10px;
    border-radius:5px ;
    height: 45px;
    color: #000;
    font-size: 15px;
    letter-spacing: 2px;
}
.vectorImg_description{
    display: flex;
    background: white;
}
.vectorImg_description .vectorImg_descBox1{
    width: 50%;
   
}
.vectorImg_descBox1 .imageInnerstylebox{
   background: gold;
   width: 50%;
   box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.vectorImg_descBox1 img{
    width: 150%;
    padding:15px;
   
}


.vectorImg_description .vectorImg_descBox2{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.vectorImg_descBox2 .vectorDescription_cards{
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
}
.vectorDescription_cards i{
    font-size: 28px;
    padding: 10px;
}

.vectorDescription_cards p{
    font-size: 18px;
    padding: 10px;
}

/*vector 3  */
.homePageVector_3{
    width: 100%;
    /* margin: auto; */
    padding: 14px;
    background: #ececec;
    display: flex;
}
.numericvector{
    margin: auto;
    width: 15%;
    border-bottom: 1px dashed gray;
}
.numericvector h1{
    padding: 5px;
    color: #969696;
}

.numericvector p{
    color: #bebebe;
    font-size: 14px;
}

/* vector 4 courses section */
.homePageVector_4_course{
    width:80%;
    margin: auto;
}
.highest_ratedcourses{
    width: 100%;
    padding: 14px 0px;
}
.highest_ratedcourses p{
    text-align: left;
}
.highest_ratedcourses h1{
    padding: 10px 0px;
    border-bottom: 2px dotted gold;
}
.highest_ratedcourses-cards{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.highest_ratedcourses i{
    padding-left: 10px;
    color: gold;
}

.exploreallcoureseVector4BTN{
    background: rgb(193, 227, 255);
    width: 30px;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.exploreallcoureseVector4BTN  button{
    width: 480%;
    border: none;
    padding: 14px;
    font-size:18px;
    font-weight: 300;
    letter-spacing: 2px;
    background: gold;
    margin: 14px;
    border-left: 3px dotted rgb(99, 185, 255);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.exploreallcoureseVector4BTN  button i{
    color: rgb(0, 49, 88);
    font-weight: 600;
}


/* mobile view */
@media only screen and (max-width: 950px){
    .homePageVector_1{
        width: 100%;
    }
    .vector-contains{
        width: 100%;
        display: block;
    }
    .vector-contains  img,.vector-text h1,p{
        width: 162%;
    }
    /* vecotr 2 */
    .homePageVector_2{
        width: 100%;
        /* background: #000; */
    }
    .what_toExpectDiv{
        display: block;
        justify-content:left;
    }
    .vectorImg_description{
        display: block;
    }
    .vectorImg_description .vectorImg_descBox1{
        width: 100%;
    }
    .vectorImg_descBox1 .imageInnerstylebox{
        width: 70%;
    }
    .vectorImg_description .vectorImg_descBox2{
        width: 100%;
        margin-top: 15%;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(1, auto);
        gap: 15px;
    }
    .vectorImg_descBox2 .vectorDescription_cards{
        padding: 10px;
        width: 100%;
        margin: auto;
        text-align: left;
        display: flex;
        align-items: center;
        /* border-bottom: 5px solid rgb(39, 194, 255); */
        border-left: 5px dashed gold;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

    }
    .vectorDescription_cards i{
        font-size: 35px;
        margin-left: 10px;
      
        
    }
    
    .vectorDescription_cards p{
        /* font-size: 1rem; */
        padding: 5px;
    }
    
    /* vector 3 */
    .homePageVector_3{
        display: block;
    }
    .numericvector{
        width: 60%;
        margin: 0;
        
    }

    /* vector 4 courses section */
    .homePageVector_4_course{
        width:100%;
        margin: 0%;
        /* background: #000; */
        
    }
    
    .highest_ratedcourses p{
        width: 80%;
        padding-left:5px ;
        text-align: left;
    }

    .highest_ratedcourses h1{
        width: 80%;
        padding-left:5px ;    
    }
    .highest_ratedcourses-cards{
    
        display: block;
        align-items: center;
    }
    
}