<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Admin_controls_css/admin_index.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/215c5cf425.js" crossorigin="anonymous"></script>

    <title>practcode-admin-controls</title>
</head>
<body>
    <nav>
        <div class="logo-admin">
            <i class="fa-solid fa-sitemap"></i>
            Practcode-admin / chandu
        </div>
        <div class="admin-nav-options">
            <button class="opt" onclick="toggle_tabs(1,this)">Overview</button>
            <button class="opt" onclick="toggle_tabs(2,this)">add Course</button>
            <button class="opt" onclick="toggle_tabs(3,this)">Add question</button>
            <button class="opt" onclick="toggle_tabs(4,this)">Add Quize</button>
         

        </div>

    </nav>
    <br>
   
    <div class="status-bar" id="status-barID">Overview </div>
    <br>
    <div class="container">
        <h2 class="Coursesectiondetails_h2">Live Courses</h2>

        <div class="courseLists" id="courseLists_divID">
            <div class="courseLists-labels">
                <p>Course Id </p> 
                <p>Course Name</p>
                <p>Commented</p>
            </div>
            

        </div>
    </div>
    <br>
    <div class="container">
        <h2 class="Coursesectiondetails_h2">New Course details</h2>

        <div class="input-sections">
            <form>
                {% csrf_token %}
                <div class="input-div">
                    <input id="courseTile_id" type="text" placeholder="Course title ">
                </div>

                <div class="input-div">
                    <input id="Category_id" type="text" placeholder="Category">
                </div>

                <div class="input-div">
                    <input id="Level_id" type="text" placeholder="Level ">
                </div>

                <div class="input-div">
                    <input id="Duration_id"  type="text" placeholder="Duration">
                </div>

                <div class="input-div">
                    <input id="Price_id" type="number" placeholder="Price">
                </div>

                <div class="input-div">
                    <label for="description">Course Description</label>
                  <textarea id="description_id" name="description" id="" cols="80" rows="10" placeholder="write...." ></textarea>
                </div>

                
                
            </form>
           
        </div>

        <!-- sections -->
        <h2 class="Coursesectiondetails_h2">Course Sections details</h2>
        <div class="sections_main_area" id="addsections_dev_id">
            <h3 class="section_heading_h3">Section 1</h3>
            <div class="addsections_dev" >
                <div class="section-title">
                    <input id="Section_title_id_1" type="text" placeholder="Section title">
                </div>
    
                <div class="section-title">
                    <textarea name="" id="Section_details_id_1"   rows="10" placeholder="Section details"></textarea>
                </div>

                <div class="section-title">
                    <textarea name="" id="Section_description_id_1"   rows="4" placeholder="*Any Note ? (optional)"></textarea>
                </div>
    
                
            </div>
        </div>
        <div class="addcourse_div_btngroup">
            <button class="AddSections_btn" onclick="addSection()" ><i class="fa-solid fa-circle-plus"></i> Add Section</button>
            <button id="upload_btn_id" class="upload_btn" ><i class="fa-solid fa-cloud-arrow-up"></i> Upload Course </button>

        </div>
        
    
    
    
    
    </div>

    <div class="container">
        <h2 class="Coursesectiondetails_h2">Add Questions </h2>
        <div class="input-sections">
            <form>
                {% csrf_token %}
                <div class="input-div">
                    <input id="language_id" type="text" placeholder="language">
                </div>

                <div class="input-div">
                    <input id="category_id" type="text" placeholder="Category">
                </div>

                <div class="input-div">
                    <input id="questionLevel_id" type="text" placeholder="Level ">
                </div>

                <div class="input-div">
                    <input id="question_id"  type="text" placeholder="question">
                </div>

                <div class="input-div">
                    <textarea id="testcases_id" cols="80" rows="10" type="text" placeholder="testcases"></textarea>
                </div>

                <div class="input-div">
                    <textarea id="expected_id" cols="80" rows="10" type="text" placeholder="expected"></textarea>
                </div>

                <div class="input-div">
                    <input id="example_id" type="text" placeholder="example">
                </div>

                <div class="input-div">
                    <input id="exp_inputs_id" type="text" placeholder="example inputs">
                </div>

                <div class="input-div">
                    <input id="exp_outputs_id" type="text" placeholder="example output">
                </div>

               
                <div class="input-div">
                    <label for="constraint">Question constraint</label>
                  <textarea id="constraint_id" name="constraint" cols="80" rows="10" placeholder="write...." ></textarea>
                </div>
            <div class="addcourse_div_btngroup">
                <button id="upload_Quetionbtn_id" class="upload_btn" ><i class="fa-solid fa-cloud-arrow-up"></i> Upload Question </button>
            </div>

                
            </form>
           
        </div>
    </div>


    <script src="{% static 'script/Admin_controls_script/admin-index.js' %}"></script>
    


</body>
</html>