*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
.take-course-main-div{
    display: flex;
}
.take-course-main-div .course-status-bar{
    width: 40%;
    height: 100vh;
    border-right: 1px solid rgb(226, 226, 226);
}
.course-main-div-toggle{
    background: rgb(0, 0, 0);
    color: #7d69ff;
    border: none;
    border-radius: 11px;
    display: flex ;
    position: absolute;
    cursor: pointer;
    justify-content: space-between;
}
.course-main-div-toggle i{
    color: #7d69ff;
    font-size: 18px;
    padding: 14px;

}

.sidebar-content{
    overflow: auto;
    height: 80vh;
    width: 100%;  
    margin: 14px;
}
.sidebar-content button{
    width: 90%;
    padding: 13px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: #5340ff;
    border-radius: 10px;
    text-wrap: nowrap;
    background: #ebe8ff;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sidebar-option{
   
    height: max-content;
    width: 100%;
    background: white;
  

}
.sidebar-option button{
    width: 90%;
    margin: auto;
    background: rgb(242, 243, 244);
    padding: 10px;
    cursor: pointer;
    border: none;
    color: #5340ff;
    border-radius: 5px;
}
.sidebar-option button:hover{
    background: rgb(242, 243, 244);
}
.Practcode-upgrad-btn{
    display: flex;

}
.Practcode-upgrad-btn i{
    width: 15%;
    border-radius: 100%;
   
    padding: 8px;
    
}
.Practcode-upgrad-btn .upgrad-text{
    width: 80%;
    text-align: left;
    padding-left: 14px;
    
}
.user-profile-btn i{
    width: 15%;
    border-radius: 100%;
   
    padding: 10px;
}
.user-profile-btn {
   display: flex;
   padding: 8px;
}
.user-profile-btn .user-profile-text{
    width: 80%;
    text-align: left;
    padding-left: 14px;
}

.sidebar-content ul{
    width: 90%;
    padding-left: 15px;
}
.sidebar-content ul h4{
    color: #5340ff;
    background: #f9f0ff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
   
}
.sidebar-content ul li{
    list-style: none;
    padding: 9px 10px 10px;
    color: #000;
    cursor: pointer;
    text-wrap: nowrap;
}
.sidebar-content ul li:hover{
    background: rgb(242, 243, 244);
    border-radius: 5px;
}

#course-text-ID h3{
    padding: 0px 5px 0px;
    margin: 14px 0px 14px;
}
#course-text-ID p{
    padding: 0px 28px 0px ;
   
}




.take-course-main-div .course-content-area{
    width: 80%;
    margin: 25px;
    
    flex-shrink: 0;
 }
 .course-content-area.full-width{
    width: 90%;
  
 }
 .topic-details p{
    letter-spacing: 1px;
 }

.quize-div{
    width: 70%;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.quize-div .quize-question{
    padding: 14px;
}
.quize-options{
    padding: 14px;

}
.quize-options li{
    padding: 14px;
    list-style: none;
    cursor: pointer;
    font-size: 18x;
   
    border-radius: 5px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.quize-options li input,label{

    cursor: pointer;

}

.quize-div button{
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    color: white;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: #5340ff;
    
}

/*  */
.topic-title-main{
    padding: 10px;
    background: rgb(243, 243, 255);
    border-radius: 10px;
}
#course-text-ID p{
    letter-spacing: 1px;
}
.subtopic-h3-class{
   
    border-left: 4px solid rgb(194, 194, 255);
    border-radius: 30px;
}
/*practice-code-section */
.pacrtice-code-question-div{
    width: 100%;
    margin: auto;
    display: flex;
}
.code-question{
    padding: 14px 14px 14px;
    width: 30%;
    background: #f3f3ff;
    
}
.code-question h6{
    border-bottom: 2px dotted #d7d7d7;
    padding: 12px;
    font-weight: 600;
}
.code-question p.question-explaination{
    padding: 12px 0px 12px;
}
.editor-area{
    width: 70%;
    padding-left: 10px;
}
.user-code{
    width: 100%;
    padding: 14px 0px 0px;
    background: #ebe8ff;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
}
.user-code h5{
    padding-left: 2px;
    margin: 0px 27px 8px;
    border-left: 3px solid black;
    color: #919191;
}
.submit-btn{
    cursor: not-allowed;
    background: rgb(185, 255, 185);
}

.user-code-btnsection{
    width: 90%;
   
    padding: 14px 0px 14px;
    display: flex;
    justify-content: space-between;
}
.user-code-btnsection button{
    border: none;
    padding:10px;
    background: #5340ff;
    color: white;
    border-radius: 5px;
}
.test-caese-btns button{
    background: rgb(255, 255, 255);
    color: #000;
    border: 1px solid #dfdfdf;
    margin-left: 3px;
}
.user-code-btnsection .submit-btn{
    cursor: not-allowed;
    background: rgb(162, 162, 162);
}
/*  */
#editor {
    position:relative;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
  }
#editor-box-id{

}
.editor-sucess-box{
    margin: 5px;
    background: rgb(96, 255, 87);
    padding: 12px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 5px solid rgb(0, 255, 55);
    color: rgb(31, 209, 0); 
}
.editor-error-box{
    margin: 5px;
    background: rgb(255, 173, 173);
    padding: 12px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 5px solid red;
    color: red;
}
/*  */
 @media only screen and (max-width: 950px){
    .take-course-main-div .course-status-bar{
        width: 100%;
        display: none;
    }
    .take-course-main-div .course-content-area{
        width: 90%;
        display: block;
        margin: 25px;
    }
    .take-course-main-div .course-content-area.responsive{
        display: none;
    }

    .take-course-main-div .course-content-area.full-width{
        display: block;
    }
    /* quiz */
    .quize-div{
        border-top: 1px solid #e5e5e5;
        width: 100%;
        margin: auto;
        border-radius: none;
        box-shadow:none;
    }
    .quize-options li{
        margin: 10px;
    }
 }